{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
    <legend class="tm-color-primary tm-post-title tm-mb-60">
      <h2>{{ legend }}</h2>
    </legend>
    <form method="POST" action="" enctype="multipart/form-data">  
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label(class="form-control-label text-right tm-color-primary") }}
        
            {{ form.title(class="form-control form-control-lg") }}
        </div>
        
        
        <div class="form-group">
            {{ form.category.label(class="form-control-label text-right tm-color-primary") }}
        
            {{ form.category(class="form-control form-control-lg", multiple=True) }}
        </div>
        
        
        <div class="form-group">
            {{ form.content.label(class="form-control-label text-right tm-color-primary") }}
        
            {{ form.content(class="form-control form-control-lg") }}
        </div>
        
        
        <div class="form-group">
            {{ form.picture.label(class="form-control-label text-right tm-color-primary") }}
        
            {{ form.picture(style='display:inline;') }}
        </div>
        
        
        <div class="form-group row text-right">
            <div class="col-12">
                {{ form.submit(class="tm-btn tm-btn-primary tm-btn-small") }} 
            </div>               
        </div>     
    </form>
</div>
{% endblock %}