{% extends "base.html" %}
{% block title %}Executives{% endblock %}
{% block content %}

<div class="container">
  <table class="table table-striped tm-color-primary">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Post</th>
        <th scope="col">Option</th>
      </tr>
    </thead>
    <tbody>
      {% for executive in executives %}
      <tr>
        <th scope="row">{{ executive.id }}</th>
        <td>{{ executive.exco.first_name }} {{ executive.exco.last_name }}</td>
        <td>{{ executive.post }}</td>

        <td>
          <div class="row text-right">
            <a class="tm-btn tm-btn-primary" href="{{ url_for('admin.executive_delete', id=executive.id) }}">Delete</a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <a class="tm-btn tm-btn-primary" href="{{ url_for('admin.add_executive') }}">Add</a>
  </table>
</div>

{% endblock %}