{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}

<div class="container">
    <legend class="tm-color-primary tm-post-title tm-mb-60">
      <h2>Login</h2>
    </legend>
    <form method="POST" action="">  
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label(class="form-control-label text-right tm-color-primary") }}
        
            {% if form.email.errors %}
              {{ form.email(class="form-control form-control-lg is-valid") }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
              
            {% else %}
                {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        
        
        <div class="form-group">
            {{ form.password.label(class="form-control-label text-right tm-color-primary") }}
        
            {% if form.password.errors %}
              {{ form.password(class="form-control form-control-lg is-valid") }}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
                {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        
        
        <div class="form-group row text-right">
            <div class="col-12">
                {{ form.submit(class="tm-btn tm-btn-primary tm-btn-small") }} 
            </div>       
            <small class="text-muted ml-2">
              <a href="{{ url_for('auth.reset_request') }}">Forgot password?</a>
            </small>
        </div>     
        
    </form>
</div>
{% endblock %}